* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: #1b2838;
  color: #c7d5e0;
}

header {
  background: #171a21;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 15px 40px;
}
header h1 {
  font-size: 22px;
  font-weight: bold;
  color: #66c0f4;
  margin-right: 40px;
}
.nav {
  display: flex;
  align-items: center;
}

nav a {
  color: #c7d5e0;
  margin-right: 20px;
  text-decoration: none;
  font-size: 14px;
}
nav a:hover {
  color: #ffffff;
}

.logout-nav {
  margin-left: auto;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  height: 100%;
  margin: 20px auto;
  flex: 1;
  padding: 20px;
  min-height: 100vh;
}

.featured {
  background: linear-gradient(135deg, #364f64, #334a66);
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
}
.featured h2 {
  font-size: 28px;
}
.featured h3 {
  margin-bottom: 20px;
  font-size: 15px;
}

.collection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, 300px);
  padding: 20px;
  gap: 15px;
  margin-top: 30px;
}
.game-card {
  background: #2a475e;
  padding: 15px;
  border-radius: 6px;
}

.form-container {
  background: #2a475e;
  padding: 15px;
  border-radius: 6px;
  margin: 15px 0;
  max-width: 400px;
  display: none;
  flex-direction: column;
  gap: 20px;
}
#gameForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.thumb {
  background-color: #1b2838;
  height: 200px;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.info {
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#game_title {
  color: rgb(255, 196, 196);
  margin-bottom: 20px;
}

button {
  margin-top: 30px;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: #66c0f4;

  border-radius: 4px;
}
button:hover {
  background: #8fd3ff;
}

/* ------------------credit.html css style------------------*/

.body {
  background: #1b2838;
  color: #c7d5e0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* MAIN CONTAINER */
.container {
  flex: 1;
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

/* CARDS */
.card {
  background: #171a21;
  padding: 30px;
  border-radius: 6px;
  margin-bottom: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.card h1,
.card h2 {
  color: #ffffff;
  margin-bottom: 15px;
}

.card p {
  line-height: 1.6;
  font-size: 14px;
}

/* CREDITS */
.credit {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #2a475e;
  font-size: 14px;
}

.credit:last-child {
  border-bottom: none;
}

.role {
  color: #8f98a0;
}

.name {
  color: #ffffff;
}

/* DISCLAIMER */
.disclaimer {
  font-size: 12px;
  color: #8f98a0;
  text-align: center;
}

/* FOOTER */
footer {
  background: #171a21;
  color: #c2c6ca;
  text-align: center;
  padding: 25px;
  font-size: 14px;
}
